@import url('https://fonts.googleapis.com/css2?family=Alfa+Slab+One&family=Bebas+Neue&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,800;1,900&display=swap');
* {
    margin: 0;
    padding: 0;
    list-style: none;
}
body {
    font-family: 'Montserrat', sans-serif;
}
section {
    padding: 2rem 0;
}
h1, h2 {
    font-family: 'Alfa Slab One', cursive;
    color: #42200B;
}
h3, h4, h5 {
    font-family: 'Bebas Neue', sans-serif;
    color: #42200B;

}
.form-control:focus {
    color: var(--bs-body-color);
    background-color: var(--bs-body-bg);
    border-color: #fff;
    outline: none;
    box-shadow: 0 0 0 0.1rem #efecec;
}
/*============== header section start ==============*/
#header {
    background: url(../img/banner.png) no-repeat;
    background-size: cover;
    background-position: center center;
    -webkit-background-size: cover;
    padding: 0 0 10rem 0;
}
ul.navbar-nav.ms-auto.mb-2.mb-lg-0 li a {
    font-size: 1rem;
    font-weight: 500;
    font-family: 'Bebas Neue';
}
.header-box1 p {
    font-family: 'Bebas Neue', sans-serif;
    font-size: 1.2rem;
    display: inline;
    border: dotted;
    padding: 0.5rem;
    text-transform: uppercase;
}
.header-box1 h1 {
    font-size: 5rem;
    text-transform: uppercase;
    line-height: 3rem;
}
/*============== header section end ==============*/
/*============== burger-type section start ==============*/
.burger-box {
    background: url(../img/burger2.png) no-repeat;
    background-size: cover;
    background-position: center center;  
}
.burger-box h1,h2 {
    font-family: 'Bebas Neue';
    display: inline;
    height: 9rem;
}
.burger-box h2 {
    display: inline;
}
.top-box {
    position: relative;
}
.top-box .text {
    position: absolute;
    top: 7%;
    left: 3%;
}
/*============== burger-type section end ==============*/
/*============== choose section start ==============*/
.choose > p {
    color: #70462e;
}
/*============== choose section end ==============*/

/*============== upcoming section start ==============*/
.row.upcoming-row.p-3 {
    box-shadow: 0px 6px 25px 6px;
}
/*============== upcoming section end ==============*/
/*======= section form style =======*/
.m-plate {
    position: relativ;
}
.plate-img {
  position: relative;
  top: 8rem;
}
/*======= section form style =======*/


#footer {
    background: url(../img/footer.png) no-repeat;
    background-size: cover;
    background-position: center center;
}


/*======= resposive start =======*/
/* @media (min-width: 320px) and (max-width: 700px) {

} */
/*======= resposive end =======*/
